<div class="container-fluid text-start pb-3">
    <h5 class="my-5">In this section, you will gain a comprehensive understanding of each key utilized within our
        Database</h5>

    <table class="table text-center table-hover">
        <thead>
            <tr>
                <th class="col-2" scope="col">Key</th>
                <th class="col-2" scope="col">Data Type</th>
                <th class="col-4" scope="col">Description</th>
                <th class="col-4" scope="col">Example</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @for(item of model;track item.key){
            @if(item.key){
            <tr>
                <td>{{item.key}}</td>
                <td>{{item.dataType}}</td>
                <td>{{item.description}}</td>
                <td>{{item.example}}</td>
            </tr>
            }

            }
        </tbody>
    </table>

    <div class="container my-5">
        <h2 class="my-4">Detailed Key Description</h2>

        @for(item of model;track item.key){
        <ul class="my-5">
            @if(item.key){

            <li class="li_key my-2">{{item.key}}</li>
            <ul>
                <li class="sub-li my-3">
                    Data Type : <span class="mx-2">{{item.dataType}}</span>
                </li>
                <li class="sub-li my-3">
                    Description : <span class="mx-2">{{item.description}}</span>
                </li>
                <li class="sub-li my-3">
                    Example : <span class="mx-2">{{item.example}}</span>
                </li>
                <li class="sub-li my-3" *ngIf="item.default">
                    Default : <span class="mx-2">{{item.default}}</span>
                </li>

                @if(item.details){

                @for(detailItem of item.details;track detailItem.example){

                <li class="li_key  my-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-return-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5" />
                    </svg>
                    {{detailItem.key}}
                </li>
                <ul *ngIf="item.details">
                    <li class="sub-li my-3">

                        Data Type : <span class="mx-2">{{detailItem.dataType}}</span>
                    </li>
                    <li class="sub-li my-3">
                        Description : <span class="mx-2">{{detailItem.description}}</span>
                    </li>
                    <li class="sub-li my-3">
                        Example : <span class="mx-2">{{detailItem.example}}</span>
                    </li>
                </ul>
                }
                }

            </ul>
            }
        </ul>

        @if(item.timestamp){
        <h2 class="my-4">Schema Options</h2>
        <li class="li_key">{{item.timestamp}}</li>
        <ul>
            <li class="sub-li my-3">
                Default : <span class="mx-2">{{item.default_value}}</span>
            </li>
            <li class="sub-li my-3">
                Description : <span class="mx-2">{{item.desc}}</span>
            </li>

        </ul>

        }

        }


    </div>
    <!-- <img src="images/admin.png" style="height: 30rem;width: 35rem;" /> -->
</div>